**/.DS_Store
**/.vscode/
**/.idea/
**/*.iml
**/*.log
**/.classpath
**.project
**/target/
**/node_modules/
**/*.map
**/.nyc_output/
**/coverage/
**/coverage.html
public/
robots/
**/ssl
**/report.xml
**/.env
