/*
    GENERAL
 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap");

:root {
    --yellow: #e6af2e;
    --blue: #525FF5;
    --grey-light: #8B9EB7;
    --grey-dark: #656565;
    --off-white: #DADADA;
}

body {
    font-family: Montserrat, sans-serif;
    color: white;
    text-align: center;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: var(--yellow);
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 10px 0;
    font-size: 12px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 10px 0;
}

h2 {
    font-size: 22px;
}

h1 {
    font-size: 28px;
}

/*
    HEADER
 */
header {
    background-color: var(--grey-light);
    display: flex;
    flex-direction: column;
}

header .logo img {
    height: 70px;
    margin: 5px;
}

header .contact-details {
    background-color: var(--grey-dark);
}

.contact-details {
    display: flex;
    flex-direction: row;
    padding: 5px 0 5px calc(50% - 110px);
}

.contact-details div {
    display: flex;
    flex-direction: column;
}

.contact-details .icons {
    font-size: 18px;
    margin: 0 10px 0 0;
    text-align: center;
}

.contact-details .contact-record {
    text-align: left;
    font-size: 10px;
    line-height:18px;
}

/*
    Pair
 */
.pair {
    display: flex;
    flex-direction: column;
}

.pair .text {
    padding: 20px 40px;
}

.pair .text ul {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
}

.pair img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.pair:nth-child(odd) {
    background-color: var(--yellow);
}

.pair:nth-child(even) {
    background-color: var(--grey-light);
}

.pair.pair-desktop .contact-details {
    margin-bottom: 20px;
}

/*
 Button
 */
.button {
    background-color: var(--blue);
    font-size: 16px;
    padding: 5px 40px;
    border-radius: 50px;
    color: var(--yellow);
    display: block;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #3C468C;
}

.button:active {
    transform: scale(0.99);
}

.button::selection {
    background-color: transparent;
}

i.submit {
    color: var(--blue);
    text-align: center;
    font-size: 40px;
}

i.tick {
    color: green;
}

i.spin {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}


/*
    Testimony
 */
.testimony {
    background-color: var(--grey-dark);
    padding: 20px 40px;
    font-style: italic;
    text-align: center;
}

/*
    Map
 */
.map iframe {
    width: 100%;
    height: 100%;
}

.map {
    height: 400px;
}

/*
    Contact
 */
.where {
    background-color: var(--yellow);
    padding-bottom: 10px;
}

form {
    background-color: var(--off-white);
    border-radius: 10px;
    padding: 10px;
    color: black;
    text-align: left;
}

form .hon {
    display: none;
}

.textbox {
    background-color: transparent;
    resize: none;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
}

.textbox.textarea {
    height: 100px;
    overflow: scroll;
    margin-top: 20px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* firefox */
}

.textbox.textarea::-webkit-scrollbar {
    display: none;
}

.has-float-label {
    margin-bottom: 10px;
}

.has-float-label .textbox:placeholder-shown:not(:focus)+* {
    font-size: 100%;
}

.has-float-label .textbox:placeholder-shown:not(:focus)+* {
    font-size: 100%;
}

form .button {
    width: 100%;
}

.danger > .textbox {
    border-bottom: red 2px solid;
}

.danger > label {
    color: red;
}
.danger > label:after {
    content: "  - Invalid"
}

/*
    Footer
 */
footer {
    background-color: var(--grey-dark);
    padding: 20px;
}

footer * {
    display: block;
    line-height: 30px;
    font-size: 12px;
}

footer .fa {
    font-size: 30px;
}

@media only screen and (min-width: 400px) {

    .contact-details .contact-record {
        font-size: 12px;
    }

    .contact-details {
        padding: 5px 0 5px calc(50% - 130px);
    }

}

@media only screen and (min-width: 700px) {

    body {
        text-align: left;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 40px
    }

    header .contact-details {
        background-color: transparent;
        padding: 12px 0 0 0;
    }

    .pair.pair-tablet {
        flex-direction: row;
    }

    .pair.pair-reverse {
        flex-direction: row-reverse;
    }

    .pair.pair-tablet .text {
        width: 50%;
    }

    .pair.pair-tablet img {
        width: 50%;
    }

    .button {
        width: 13em;
    }

    .testimony {
        padding: 40px 150px;
    }

    .contact-details {
        padding: 0;
    }

    .pair-desktop .contact-details div > * {
        line-height: 30px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer > div > * {
        display: inline-block;
    }

    footer .copyright:after{
        content: " | ";
    }

    footer a {
        float: right;
        margin-left: 5px;
    }

    footer .privacy-policy {
        color: var(--yellow);
    }

}

@media only screen and (min-width: 850px) {
    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }

    .pair .text ul {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1000px) {

    .pair.pair-desktop {
        flex-direction: row;
    }

    .pair.pair-desktop .map {
        width: 50%;
        height: 610px;
    }

    .pair.pair-desktop .text {
        width: 50%;
    }

}