<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>McVeigh Glazing - Contact Us</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<main>
    <div class="navbar-fixed">
        <nav>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color: yellow">menu</i></a>
            <div class="nav-wrapper blue">
                <a href="#" class="brand-logo">McVeigh Glazing</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/where">Where?</a></li>
                    <li><a href="/testimonials">Testimonials</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <ul class="side-nav blue darken-4" id="mobile-demo">
                    <li class="center"><a href="/" class="yellow-text">Home</a></li>
                    <li class="center"><a href="/gallery" class="yellow-text">Gallery</a></li>
                    <li class="center"><a href="/where" class="yellow-text">Where?</a></li>
                    <li class="center"><a href="/testimonials" class="yellow-text">Testimonials</a></li>
                    <li class="center"><a href="#" class="yellow-text">Contact Us</a></li>
                    <div class="container">
                        <div class="row center">
                            <img src="static/images/logo.png" style="width:100%; opacity: 0.7">
                        </div>
                    </div>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m6">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">contact_phone</i></h2>
                        <h5 class="center">Telephone</h5>
                        <p class="light">
                            You can call us on 07712877368 or 02887722371
                        </p>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">computer</i></h2>
                        <h5 class="center">Email</h5>
                        <p class="light">
                            You can email Martin at martin@mcveighglazing.com<br>Alternatively you can leave a message below with your email address and/or phone number and we will get back to you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h4 class="center">Write to us on our site!</h4>

            <div class="card grey lighten-3">
                <div class="card-content">
                    <div class="row">
                        <form id="contact-form" action="/sendmessage" class="col s12" method="post">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="name" name="name" class="validate" type="text">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="number" name="number" class="validate" type="text">
                                    <label for="name">Your Phone Number</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" name="email" class="validate" type="text">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea" name="message" class="materialize-textarea" type="text"></textarea>
                                    <label for="textarea">Your Message</label>
                                </div>
                            </div>
                            <div class="g-recaptcha" data-sitekey="6LdkN9kUAAAAAIjzhvgTVMtyYUAUWGU1SGRpfKfy"></div>
                            <br/>
                            <button type="submit" class="btn-large waves-effect waves-light blue lighten-1">Submit Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact-modal" class="modal">
        <div id="auth-modal-content" class="modal-content">
            <h4>Thank You</h4>
            <p>
                Your message has been sent! We will get in touch as soon as possible
            </p>
            <a class="waves-effect waves-light btn blue" href="/contact">OK</a>
        </div>
    </div>
</main>

<footer class="page-footer blue">
    <div class="navbar">
        <nav>
            <div class="nav-wrapper blue">
                <ul class="left">
                    <li style="padding-left: 10px">Call 07712877368</li>
                </ul>
            </div>
        </nav>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="static/js/jquery.validate.min.js"></script>
<script src="static/js/materialize.js"></script>
<script src="static/js/init.js"></script>

<script>
    $(document).ready(function(){
        jQuery.validator.addMethod('phoneUK', function(phone_number, element) {
            return this.optional(element) || phone_number.length > 9 &&
                phone_number.match(/^(((\+44)? ?(\(0\))? ?)|(0))( ?[0-9]{3,4}){3}$/);
        }, 'Please specify a valid phone number');

        $("#contact-form").validate(
            {
            rules: {
                name: {
                    required: true,
                    minlength: 2
                },
                number: {
                    required: "#email:blank",
                    phoneUK: true
                },
                email: {
                    required: "#number:blank",
                    email: true
                },
                message: {
                    required: true,
                    minlength: 5,
                    maxlength:1000
                }
            },
            messages: {
                name: {
                    required: "Please enter your name",
                    minlength: "Please enter 2 or more characters"
                },
                number: {
                    required: "Please enter either a telephone number or an email address so we can contact you"
                },
                email: {
                    required: "Please enter either a telephone number or an email address so we can contact you",
                    email: "This email address is not valid"
                },
                message: {
                    required: "Please enter your message",
                    minlength: "Please enter 5 or more characters",
                    maxlength: "Please keep your message less than 1000 characters"
                }
            },
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            }
        });

        if (checkMessageSent()) {
            $('.modal').modal({
                    dismissible: false
                }
            );
            $('#contact-modal').modal('open');
        }
    });

    function checkMessageSent() {
        var field = 'messagesent';
        var url = window.location.href;
        if(url.indexOf('?' + field + '=') != -1)
            return true;
        else if(url.indexOf('&' + field + '=') != -1)
            return true;
        return false
    }
</script>

</body>
</html>
