<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>McVeigh Glazing - Quality window and door suppliers in the Dungannon area</title>
    <meta name="google-site-verification" content="BhggEQzpYFc36C6e4Ig5OQx1iqdUotM9OjoG87aKQT4" />
    <meta name="description" content="McVeigh Glazing are suppliers and fitters of a wide variety of windows, glass, doors and conservatories. We offer repairs and double glazing services in the Dungannon and Tyrone area of Northern Ireland"/>
    <meta name="keywords" content="double glazing, dungannon, windows, doors, northern ireland, glass, repair, supplier, mcveigh, glazing, fitter" />

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<main>
    <div class="navbar-fixed">
        <nav>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color: yellow">menu</i></a>
            <div class="nav-wrapper blue">
                <a href="#" class="brand-logo">McVeigh Glazing</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/where">Where?</a></li>
                    <li><a href="/testimonials">Testimonials</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
                <ul class="side-nav blue darken-4" id="mobile-demo">
                    <li class="center"><a href="#" class="yellow-text">Home</a></li>
                    <li class="center"><a href="/gallery" class="yellow-text">Gallery</a></li>
                    <li class="center"><a href="/where" class="yellow-text">Where?</a></li>
                    <li class="center"><a href="/testimonials" class="yellow-text">Testimonials</a></li>
                    <li class="center"><a href="/contact" class="yellow-text">Contact Us</a></li>
                    <div class="container">
                        <div class="row center">
                            <img src="static/images/logo.png" style="width:100%; opacity: 0.7">
                        </div>
                    </div>
                </ul>
            </div>
        </nav>
    </div>

    <div id="index-banner" class="parallax-container">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="static/images/locks.jpg">
                </li>
                <li>
                    <img src="static/images/conservatory_inside.jpg">
                </li>
                <li>
                    <img src="static/images/conservatory_outside.jpg">
                </li>
            </ul>
        </div>
        <div class="section no-pad-bot" style="z-index:2">
            <div class="container">
                <br>
                <div class="row center">
                    <img src="static/images/logo.png" style="max-width: 100%; opacity: 0.7">
                </div>
                <div class="row center">
                    <a href="/contact" class="btn-large waves-effect waves-light blue lighten-1">Get A Quote</a>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">local_shipping</i></h2>
                        <h5 class="center">Our Business</h5>
                        <p class="light">McVeigh Glazing is a well established, family run business serving the Mid Ulster region and beyond.<br>With over 35 years of experience, we have been able to build up an excellent reputation for friendly customer service our customers can rely on.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Our Services</h5>

                        <p class="light">Customer service is of utmost importance to us and we ensure that every job is completed to the highest standards as quickly and as efficiently as possible. Testimony to this is that most of our work comes from word of mouth recommendations.<br>We believe that the personal service we provide and the relationship we develop with our customers is why they return to us time and again and are always happy to refer our services to others.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Reasons to Choose Us</h5>
                        <ul class="browser-default">
                            <li class="light">Free, no obligation quotations provided</li>
                            <li class="light">35 years experience in the business</li>
                            <li class="light">Personal, friendly service</li>
                            <li class="light">24/7 service</li>
                            <li class="light">PVC Windows</li>
                            <li class="light">Residential doors, composite doors, garage doors, roller shutters</li>
                            <li class="light">Double and triple glazed units supplied and fitted</li>
                            <li class="light">All types of glass cut and supplied</li>
                            <li class="light">Efficient repairs carried out to windows and doors</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="auth-modal" class="modal">
        <div id="auth-modal-content" class="modal-content">
            <h4>Authorisation</h4>
            <p>
                Please enter the admin authentication code below:
            </p>
            <form id="auth-code-form" action="/login" method="post" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="authcode" name="authcode" type="text" class="validate">
                        <label for="authcode">Authentication Code</label>
                        </div>
                    </div>
                <button class="waves-effect waves-light btn blue" id="submit-button" type="submit" value="submit">Submit</button>
            </form>
        </div>
    </div>
</main>

<footer class="page-footer blue">
    <div class="navbar">
        <nav>
            <div class="nav-wrapper blue">
                <ul class="left">
                    <li style="padding-left: 10px">Call 07712877368</li>
                </ul>
                <ul class="right">
                    <li id="admin-login">
                        {% if admin %}
                            <a href="/logout">Log Out</a>
                        {% else %}
                            <a class='modal-trigger' href='#auth-modal'>Admin Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="static/js/jquery.validate.min.js"></script>
<script src="static/js/materialize.js"></script>
<script src="static/js/init.js"></script>
{% if codesent == True %}
<script>
    $(document).ready(function(){
        $('.modal').modal({
                dismissible: false
            }
        );
        $('#auth-modal').modal('open');
        $("#auth-code-form").validate({
            rules: {
                authcode: {
                    required: true,
                    minlength: 12,
                    maxlength:12
                }
            },
            messages: {
                authcode:{
                    required: "Enter an authentication code",
                    minlength: "Enter 12 characters",
                    maxlength: "Enter 12 characters"
                }
            },
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
</script>
{% endif %}
</body>
</html>
